body{
    text-align: center;
}

canvas{
    /* background-image: url(images/home.jpg); */
    background-repeat: no-repeat;
    background-size: 450px 450px;
}


#logo_a{
    font-family: 'Press Start 2P', cursive;
    height: 200px;
    text-align:center;
    line-height:200px;
    font-size: 40px;
}

#start_button{
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: gray;
}

#back_to_the_game{
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    color: gray;
}

#only_button{
    border: thin;
    background-color: white;
}

#tit{
    height: 180px;
}

hr{
    width: 600px;
}

table{
    width: 60%;
    margin: auto;
    font-size: 1.5em;
}

#birthday{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

#name{
    width: 100px;
    height: 30px;
}

#statue{
    width: 1000px;
    margin: 0px auto;
}