/*----------首頁-------------------------------------------*/
body {
  text-align: center;
}
/*每頁上方的LOGO*/
#logo {
  font-family: "Press Start 2P", cursive;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tit {
  height: 100px;
  display: flex;
  flex-direction: row;
}

#logo_img {
  width: 300px;
}

#only_button {
  border: thin;
  background-color: white;
}

#game_over_cat {
  width: 180px;
}

#start_button {
  font-family: "Press Start 2P", cursive;
  font-size: 25px; /*字級*/
  color: gray; /*本身的顏色*/
}

#start_button:hover {
  color: black;
}

/* computer */
@media screen and (min-width: 426px) {
  #tit {
    height: 100px;
  }

  #logo_img {
    width: 200px;
  }

  #game_over_cat {
    width: 150px;
  }

  #start_button {
    font-size: 25px; /*字級*/
  }
}
